<ul class="list-group">
  <li class="list-group-item" *ngFor="let task of tasks" >{{ task.id }} - {{ task.title }}
    <div class="btn-group float-right" role="group" aria-label="Ações">
      <button type="button" class="btn btn-success" (click)="concluirTarefa(task)">Concluir</button>
      <button type="button" class="btn btn-primary" routerLink="/detalhe/{{task.id}}">Editar</button>
      <button type="button" class="btn btn-danger" (click)="removerTarefa(task)" >Remover</button>
    </div>
  </li>
</ul>
