<div class="input-group mb-3">
  <label>ID:</label> {{task.id}}
</div>


<label>Titulo:</label>
<div class="input-group mb-3">
  <input [(ngModel)]="task.title" placeholder="Title" #title class="form-control" />
</div>


<label>Description:</label>
<div class="input-group mb-3">
  <textarea [(ngModel)]="task.description" placeholder="Description" class="form-control" > </textarea>
</div>


<label>Deadline:</label>
<div class="input-group mb-3">
  <input type="date" [(ngModel)]="task.deadline" placeholder="Deadline" class="form-control" />
</div>


<label>Completed at:</label>
<div class="input-group mb-3">
  <input  type="date" [(ngModel)]="task.completed_at" placeholder="Completed at:" class="form-control" />
</div>

<div class="float-right">
  <button (click)="goBack()" class="btn btn-outline-secondary">Voltar</button>
  <button (click)="saveTask(title.value)" class="btn btn-outline-secondary">Salvar</button>
</div>


